@media screen and (max-width: 1200px) {
  main > .info > h1 {
    font-size: 80px;
  }
}

@media screen and (max-width: 920px) {
  main > .info > h1 {
    font-size: 60px;
  }
  main > .info > button {
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  header > nav > ul > li > a {
    font-size: 14px;
  }
}
